In [2]:
import numpy as np
from datetime import datetime
import pandas as pd

data = {
    'Item Name': ['Apples', 'Milk', 'Bread', 'Eggs', 'Bananas', 'Cheese',
                  'Tomatoes', 'Potatoes', 'Onions', 'Chicken',
                  'Pasta', 'Rice', 'Bread','Yogurt', 'Ice Cream', 'Cereal'],
    'Quantity': [5, 1, 1, 3, 5, 2, 3, 4, 1, 2, -3, 2, 2, 2, 1, 3],
    'Unit Price': [1.5, 2.0, np.nan, 0.2, 1.0, 3.0, 1.2, 0.5, 0.8, 5.0, 2.5, 1.0, 4.0, 4.0, 2.0, 1.0],
    'Purchase Date': [
        datetime(2024, 4, 1),
        datetime(2024, 4, 2),
        datetime(2024, 4, 2),
        datetime(2024, 4, 3),
        datetime(2024, 4, 3),
        datetime(2024, 4, 3),
        datetime(2024, 4, 4),
        datetime(2024, 4, 4),
        datetime(2024, 4, 7),
        datetime(2024, 4, 7),
        datetime(2024, 4, 7),
        datetime(2024, 4, 1),
        datetime(2024, 4, 4),
        datetime(2024, 4, 2),
        datetime(2024, 4, 3),
        datetime(2024, 4, 1)
    ],
    'Category': ['Fruits', 'Dairy', 'Bakery', np.nan, 'Fruits', 'Dairy',
                 'Vegetables', np.nan, 'Vegetables', 'Meat',
                 'Pasta', 'Grains', 'Bakery','Dairy', 'Desserts', 'Cereal']
}

In [10]:
df = pd.DataFrame(data)
df.head()

  Item Name  Quantity  Unit Price Purchase Date Category
0    Apples         5         1.5    2024-04-01   Fruits
1      Milk         1         2.0    2024-04-02    Dairy
2     Bread         1         NaN    2024-04-02   Bakery
3      Eggs         3         0.2    2024-04-03      NaN
4   Bananas         5         1.0    2024-04-03   Fruits

In [12]:
df.loc[df["Item Name"] == "Apples", "Category"] =

  Item Name  Quantity  Unit Price Purchase Date Category
0    Apples         5         1.5    2024-04-01   Fruits
1      Milk         1         2.0    2024-04-02    Dairy
2     Bread         1         NaN    2024-04-02   Bakery
3      Eggs         3         0.2    2024-04-03      NaN
4   Bananas         5         1.0    2024-04-03   Fruits

In [35]:
test = df.groupby("Item Name")["Unit Price"]
test.head(9)

0     1.5
1     2.0
2     NaN
3     0.2
4     1.0
5     3.0
6     1.2
7     0.5
8     0.8
9     5.0
10    2.5
11    1.0
12    4.0
13    4.0
14    2.0
15    1.0
Name: Unit Price, dtype: float64